* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

  input,select,button{
    width: fit-content;
  }
}
